<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Login</title>
</head>

<body>
    <h3>this is the test login page</h3>

    <div>
        <form action="{% url 'testlogin' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="username"> <br>
            <input type="password" name="password" id="password" placeholder="password"> <br>
            <input type="submit" name="login" id="login">
        </form>
    </div>

</body>

</html>